<div class="comparison_before_after">
  <%= render 'welcome' %>
  <%= image_tag 'NOT1887_V1707_background.jpg' %>
  <%= image_tag 'MLP2011_V1707_background.jpg' %>
</div>
<div class='divider_line'></div>
<div class="landing_page_section" id='guide_promo'>
  <%= render "guide_promo" %>
</div>
<div class='divider_line'></div>
<div class="landing_page_section" id='participate'>
  <%= render "interactive_promo1" %>
</div>
<div class='divider_line'></div>
<div class="landing_page_section" id='browse'>
  <%= render "interactive_promo2" %>
</div>
<div class='divider_line'></div>
<div class="landing_page_section" id="about">
  <%= render "home/about" %>
</div>
<div class='divider_line'></div>
<div class="landing_page_section" id='contact'>
  <%= render "home/contact" %>
</div>

